<!DOCTYPE HTML>
<html>
	<head>
		<title>Instagram Status</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
		<!--[if lte IE 9]><link rel="stylesheet" href="{{ url_for('static', filename='css/ie9.css') }}" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ url_for('static', filename='css/ie8.css') }}" /><![endif]-->
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="index.html">Instagram Status Viewer</a></h1>
					</header>

				<!-- Wrapper -->
					<section id="wrapper">
						<header>
							<div class="inner">
								<h2>Account Info</h2>
								<p>Getting followers/following lists for user @{{ username }}<br>
								Current Followers {{ length }} - <a href="#Followers">Go to followers list</a><br>
								Current Followings {{ felength }} - <a href="#Followings">Go to followings list</a><br><br>
								<input class="button special" value="Export as CSV" onclick="exportTableToCSV('insta_list.csv')"></p>
							</div>
							<div class="inner">
								<h2>Account Details</h2>
								<div class="table-wrapper">
									<table class="alt">
										<thead>
											<tr>
												<th>Photo</th>
												<th>Full Name</th>
												<th>Username</th>
												<th>Biography</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class=fixed><img src="{{ profiledata['user']['profile_pic_url'] }}" alt="{{ username }}"></td>
												<td>{{ profiledata['user']['full_name'] }}</td>
												<td class="icon fa-instagram"> {{ username }}</td>
												<td>{{ profiledata['user']['biography'] }}</td>
												<td class="link-fixed"><a href="https://instagram.com/{{ username }}" class="button special">Visit Page</a></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</header>

						<!-- Content -->
							<div class="wrapper">
								<div class="inner">
									<section>
										<h1><a name="Followers">Followers</a></h1>
										<div class="table-wrapper">
											<table class="alt">
												<thead>
													<tr>
														<th>Photo</th>
														<th>Full Name</th>
														<th>Username</th>
													</tr>
												</thead>
												<tbody>
												{% for frow in flist %}
													<tr>
														<td class=fixed><img src="{{ frow['profile_pic_url'] }}" alt="{{ frow['username'] }}"></td>
														<td>{{ frow['full_name'] }}</td>
														<td class="icon fa-instagram"> {{ frow['username'] }}</td>
														<td class="link-fixed"><a href="https://instagram.com/{{ frow['username'] }}" class="button special">Visit Page</a></td>
													</tr>
												{% endfor %}
												</tbody>
											</table>
										</div>
										<br>
										<h1><a name="Followings">Followings</a></h1>
										<div class="table-wrapper">
											<table class="alt">
												<thead>
													<tr>
														<th>Photo</th>
														<th>Full Name</th>
														<th>Username</th>
													</tr>
												</thead>
												<tbody>
												{% for frow in felist %}
													<tr>
														<td class=fixed><img src="{{ frow['profile_pic_url'] }}" alt="{{ frow['username'] }}"></td>
														<td>{{ frow['full_name'] }}</td>
														<td class="icon fa-instagram"> {{ frow['username'] }}</td>
														<td class="link-fixed"><a href="https://instagram.com/{{ frow['username'] }}" class="button special">Visit Page</a></td>
													</tr>
												{% endfor %}
												</tbody>
											</table>
										</div>
									</section>
								</div>
							</div>
					</section>

				<!-- Footer -->
					<section id="footer">
						<div class="inner">
							<ul class="copyright">
								<li>Powered by <a href="http://narbeh.org">Narbeh.org</a> - Designed by <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</section>
			</div>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/util.js') }}"></script>
			<!--[if lte IE 8]><script src="{{ url_for('static', filename='js/ie/respond.min.js') }}<![endif]-->
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>
			<script src="{{ url_for('static', filename='js/html2csv.js') }}" ></script>

	</body>
</html>